html, body {
  width: 100%;
  margin: 0;
}

#topBanner {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
}

#leftTopBanner {
  display: flex;
  width: 350px;
}

#leftTopBanner img {
  width: 2.5rem;
  height: auto;
}

#topBanner h1 {
  display: inline-block;
}

#topBanner h1 span {
  font-weight: normal;
}

#topNavigation {
  display: inline-block;
}

#topNavigation span {
  padding-left: 16px;
}

#jumbotron {
  display: flex;
  padding-left: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: lightgrey;
  align-items: center;
  justify-content: center;
}

#jumbotronLeftImage {
  width: 60%;
  height: auto;
  background-size: cover;
  overflow: hidden;
}

#jumbotronLeftImage img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

#jumbotronRightText {
  margin-left: 40px;
  width: 275px;
}

#jumbotronRightButton {
  background-color: darkgrey;
  width: 240px;
  height: 40px;
  justify-content: center;
  display: flex;
  align-items: center;
  /*border-radius: 15px;*/
}

#upcomingContent {
  display: flex;
  padding-left: 24px;
  padding-top: 32px;
}

#upcomingContentLeft {
  width: 60%;
}

#upcomingContentLeftImage img {
  max-width: 100%;
  max-height: 100%;
}

#upcomingContentLeftText {
  margin-bottom: 1rem;
}

#upcomingContentRight {
  display: flex;
  flex-direction: column;

}

.upcomingContentEvents {
  width: 423px;
  display: flex;
  /*flex-direction: column;*/
  /*flex-wrap: wrap;*/
  /*height: 33%;*/
  border: 1px solid lightgrey;
  margin-left: 24px;
  padding: 16px 16px;
}

.upcomingContainerDescription {
  display: flex;
  flex-direction: column;
}

.upcomingContentEvents:nth-child(2n+1) {
  background-color: lightgrey;
}

.upcomingContentEventsImage {
  width: 35%;
  height: auto;
  /*display: inline-block;*/
  overflow: hidden;
  float: left;
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/
  margin-right: 1rem;
}

.upcomingContentEventsImage img {
  width: 100%;
  height: 100%;
}

#learningCategoryDesktop {
  background-color: lightgrey;
  padding-top: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 32px;
}

.demoContainer {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 32px;
}

#learningContainer {
  width: 85%;
  max-width: 1300px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /*background-color: green;*/
}

.learningBox {
  width: 30%;
  background-color: white;
  margin-bottom: 12px;
  padding-bottom: 6px;
}

.learningBox img {
  max-width: 100%;
  max-height: 100%;
}

#thesisExhibit {
  display: flex;
  padding-top: 32px;
  padding-left: 24px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 32px;
}

#thesisExhibitContainer {
  display: flex;
  width: 100%;
}

#thesisExhibitVideoContainer {
  width: 100%;
  height: auto;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 24px;
}

#thesisExhibitVideoContainer video {
  width: 100%;
  height: 100%;
}

#footerContainer {
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
}

/* Hiding the Mobile elements */
@media screen and (min-width: 768px) {

  #topNavigationMobile {
    display: none;
  }

  .upcomingContentEventsImageMobile {
    display: none;
  }

  #learningCategoryMobile {
    display: none;
  }

}

/* Revealing Mobile elements + hiding desktop*/
@media screen and (max-width: 768px) {

  #leftTopBanner {
    display: none;
  }

  #topBanner {
    height: 64px;
    /*justify-content: space-around;*/
  }

  #topNavigationMobile {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  #topNavigation {
    display: none;
  }

  #jumbotron {
    flex-direction: column;
    padding: 0;
    padding-bottom: 32px;
  }

  #jumbotronLeftImage {
    width: 100%;
    height: 180px;
    background-color: darkgrey;
  }

  #jumbotronLeftImage img {
    display: none;
  }

  #jumbotronRightText {
    padding-right: 16px;
    padding-left: 16px;
  }

  #upcomingContent {
    padding: 0;
  }

  #upcomingContentLeft {
    display: none;
  }

  #upcomingContentRight {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .upcomingContentEventsImageDesktop {
    display: none;
  }

  .upcomingContentEvents {
    border: none;
    width: auto;
    flex-direction: column;
    margin: 0;
  }

  .upcomingContentEventsImage {
    width: 96%;
    height: auto;
  }

  #learningCategoryDesktop {
    display: none;
  }

  #learningCategoryMobile {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #learningContainerMobile {
    display: flex;
    /*width: 100%;*/
    flex-direction: column;
    justify-content: center;
  }

  .learningBoxMobile {
    background-color: darkgrey;
    width: 350px;
    margin-bottom: 8px;
    padding: 1rem;
  }

  #thesisExhibitDesktop {
    display: none;
  }

  #thesisExhibitMobile {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
  }

  #thesisExhibitVideoContainerMobile {
    width: 100%;
    height: auto;

  }

  #thesisExhibitVideoContainerMobile video {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  #footerContainer {
    border: none;
  }

  #footerContainer span {
    display: none;
  }
}
